
:root{
  /* main background-color */
  --main-color: #072227; 
  /* odd background-color */
  --secondary-color: #35858B;
  /* secondary heighlight color  */
  --secondary-heighlight-color: #4FBDBA;
  /* main heightlight color  */
  --main-heighlight-color: #AEFEFF;

  /* text color */
--text-color: #FFFEF7;


}
* {
    font-size: 20px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Barlow", sans-serif;
  }
  
  body {
    margin: 0;
    padding: 0;
  }
  
  .heading {
    font-size: 2.5rem;
    text-align: center;
    color: var(--main-color);
    font-weight: 900;
  }
  
  .text {
    text-align: center;
    color: var(--main-color);
    width: 18rem;
    margin: 1rem;
    font-size: 0.9rem;
  }
  .hero-wrap {
    background-color: #072227;
  }
  .hero {
    display: flex;
    flex-direction: row-reverse;
    height: 88vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 5rem;
  }
  nav {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    color: var(--text-color);
    font-weight: 600;
    padding-top: 1rem;
    padding-bottom: 0.3rem;
    background-color: var(--main-color);
    height: fit-content;
  }
  nav .organisation_logo a img {
    height: 2rem;
    padding-left: 6rem;
    transition: 0.2s;
  }
  nav .organisation_logo a img:hover {
    transform: scale(1.05);
  }
  nav ul {
    float: right;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20%;
    list-style-type: none;
    margin-right: 9rem;
  }
  nav ul a {
    text-decoration: none;
    color: inherit;
    transition: 0.2s;
  }
  nav ul a:hover {
    transform: scale(1.1);
  }
  
  .hero_image {
    height: 60vh;
  }
  
  .hero .intro {
    /* background: #; */
    width: 100%;
    color: var(--text-color);
  
    text-align: left;
    font-size: 2.3rem;
    padding: 2rem;
    /* border: 1px solid white; */
  }
  .hero .intro * {
    margin: 10px 0;
  }
  .hero .intro h1 {
    font-size: 1.7rem;
    width: max-content;
    font-weight: 700;
    padding-bottom: 5px;
    letter-spacing: 2px;
    border-bottom: 3px solid var(--secondary-heighlight-color);
  }
  .hero .intro h3 {
    font-weight: 600;
  }
  .hero .intro p {
    font-weight: 400;
  }
  
  .team,
  .social {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .member {
    margin: 1rem 1rem;
    transition: 0.3s;
    background: var(--main-color);
    border-radius: 10px;
    width: 12rem;
    padding: 2rem 0;
    text-align: center;
  }
  
  .member:hover {
    transform: scale(1.1);
  }
  
  .photo {
    width: 7rem;
    height: 7rem;
    background: pink;
    margin: auto;
    border-radius: 50%;
    margin-bottom: 1rem;
  }
  
  .name {
    font-size: 1.2rem;
    text-align: center;
    color: #fffffe;
  }
  
  .designation {
    font-size: 0.8rem;
    text-align: center;
    color: #fef6e4;
  }
  
  .team_wrap,
  .who_section,
  .mission_section,
  .social_wrap,
  .contact_wrap,
  .join {
    padding: 5rem 8rem;
  }
  
  .who_section {
    background-color: var(--text-color);
  }
  
  .team_wrap {
    background-color: var(--main-heighlight-color);
  }
  
  .who_wrap {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    padding: 1rem;
  }
  .who-leftside {
    width: 50%;
    padding: 2rem 0;
  }
  .who_wrap > .text,
  .who_wrap img {
    width: 100%;
    /* margin: 1rem; */
    font-size: 0.9rem;
  }
  
  .mission_section {
    background-color: var(--secondary-heighlight-color);
  }
  
  .mission_wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
  }
  .mission {
    background: #fffffe;
    padding: 2rem;
    border-radius: 10px;
  }
  .mission h2 {
    font-size: 1.4rem;
  }
  .mission img{
    width: 100%;
  }
  .social_wrap {
    background-color: var(--main-color);
  }
  
  .social_wrap > .heading {
    color: #fffffe;
  }
  
  .join {
    background-color: var(--secondary-color);
  }
  .join a {
    text-decoration: none;
    color: inherit;
  }
  .social {
    justify-content: center;
  }
  
  .logo {
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    margin: 0.5rem;
    transition: 0.3s;
    color: rgb(255, 255, 255);
  }
  
  .logo:hover {
    color: rgb(76, 76, 226);
    transform: scale(1.1);
    /* filter: drop-shadow(3px 3px 12px #7192ff); */
    /* box-shadow: 3px 3px 12px 0px #813838; */
  }
  
  .logo.twitter:hover {
    color: rgb(26, 140, 216);
    /* filter: drop-shadow(3px 3px 12px rgb(255, 255, 255)); */
  }
  
  .logo.youtube:hover {
    color: rgb(255, 0, 0);
    /* filter: drop-shadow(3px 3px 12px rgb(255, 255, 255)); */
  }
  
  .logo.linkedin:hover {
    color: #0a66c2;
    /* filter: drop-shadow(3px 3px 5px rgb(180, 180, 180)); */
  }
  
  .logo.instagram:hover {
    color: #d6249f;
    /* color: #0a66c2; */
    /* filter: drop-shadow(3px 3px 5px rgb(163, 163, 163)); */
  }
  
  .logo.facebook:hover {
    color: #3b5998;
    /* color: #0a66c2; */
    /* filter: drop-shadow(3px 3px 5px rgb(161, 161, 161)); */
  }
  
  .logo.snapchat:hover {
    color: #fffc00;
    /* color: #0a66c2; */
    /* filter: drop-shadow(3px 3px 5px rgb(0, 0, 0)); */
  }
  .logo.team_card_logo {
    width: 1.5rem;
    height: 1.5rem;
    margin: 0.3rem;
  }
  .logo.team_card_logo:hover {
    transform: scale(1);
  }
  .contact_wrap {
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    /* background: #8bd3dd; */
    /* background: #001858; */
    width: 17rem;
    padding: 1.5rem 0.5rem;
    border-radius: 10px;
  }
  
  .contact_form label {
    margin-bottom: 0.3rem;
    color: var(--text-color);
    font-size: 1.2rem;
    font-weight: 600;
  }
  
  .contact_form input,
  .contact_form textarea {
    display: block;
    width: 100%;
    border-radius: 8px;
    margin: 0.1rem 0 0.5rem 0;
    padding: 0.2rem;
    border: 0px solid yellowgreen;
    background: var(--secondary-heighlight-color);
    color: var(--main-color);
    font-size: 1.2rem;
  }
  
  .contact_form input:focus-visible,
  .contact_form textarea:focus-visible {
    outline: 0 solid red;
  }
  
  .btn {
    margin-top: 0.5rem;
    border-radius: 50px;
    padding: 0.3rem 0.8rem;
    cursor: pointer;
    transition: 0.3s;
    background: var(--main-heighlight-color);
    box-shadow: 3px 4px 9px -3px #5a5858;
  }
  
  .btn:hover {
    transform: scale(1.1);
  }
  
  .btn.submit {
    font-weight: 600;
  }
  
  .btn.submit:hover {
    background: var(--main-heighlight-color);
  }
  
  .join .btn {
    max-width: 8rem;
    text-align: center;
    margin: auto;
    font-size: 1.4rem;
    font-weight: 900;
  }
  
  .button {
    background: red;
    padding: 0.5rem;
    position: fixed;
    bottom: 0.5rem;
    right: 0.5rem;
    color: aliceblue;
    border-radius: 50px;
    transition: 0.3s;
  
    font-weight: 900;
    width: 5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .button:hover {
    transform: scale(1.1);
    box-shadow: 3px 3px 12px 0px #757575;
  }
  
  .join_svg a {
    text-decoration: none;
  }
  @media (max-width: 1100px) {
    * {
      font-size: 18px;
    }
    nav ul {
      display: none;
    }
    .mission_wrap {
      flex-wrap: wrap;
    }
    .heading {
      font-size: 2rem;
    }
    nav .organisation_logo a img {
      padding: 0 2rem;
    }
    .hero {
      padding: 0 4rem;
      flex-direction: column;
      justify-content: start;
      height: max-content;
      padding-bottom: 2rem;
    }
    .hero .intro {
      padding: 0.5rem;
      margin-bottom: 1rem;
    }
    .hero .intro h1 {
      font-size: 1.4rem;
    }
    .hero .image-box {
      padding: 0 2rem;
    }
    .hero .hero_image {
      height: 40vh;
    }
    .team_wrap,
    .who_section,
    .mission_section,
    .social_wrap,
    .contact_wrap,
    .join {
      padding: 4rem 1rem;
    }
    .who_wrap {
      flex-direction: column;
    }
    .who-rightside{
      width: 50%;
    }
    .who-rightside .text{
      margin-bottom: 3rem;
      width: auto;
    }
    .member {
      padding: 2rem;
      width: auto;
    }
    .member .photo {
      margin-bottom: 1rem;
      width: 10rem;
      height: 10rem;
    }
    .social {
      width: 70%;
      margin: auto;
    }
  }
  @media (max-width: 800px) {
    * {
      font-size: 15px;
    }
    .who-leftside,.who-rightside{
      width: 100%;
    }
  }
  @media (max-width: 450px) {
    .hero .intro h1 {
      font-size: 1.2rem;
    }
  }
  @media (max-width: 400px) {
    .hero-wrap{
      padding: 0;
    }
    .hero{
      padding: 0 0 0 1rem;
    }
    .hero .image-box{
      padding: 0;
    }
    .hero .intro h1 {
      width: auto;
    }
    nav .organisation_logo a img {
      width: 100%;
      height: auto;
    }
  }
  /* hide show start */
  
  .hide {
    display: none;
  }
  
  .show {
    display: block;
  }
  
  .show_flex {
    display: flex;
  }
  
  /* hide show end */
  